.center {
  text-align: center;
  font-size: 30px;
  margin: 200px;
}​

@supports (-webkit-line-clamp: 3) {
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        max-height:3.6em; /* I needed this to get it to work */
        height: auto;
    }
    .line-clamp:after {
        display: none;
    }
}

.loader-spinner {
  width: 120px;
  height: 120px;
  margin: auto;
  border: 16px solid #f57b61 ;
  border-top: 16px solid #de1a42;
  border-bottom: 16px solid #de1a42;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.actu-list .article .article-photo .article-title {
  position: absolute;
  color: white;
  text-transform: uppercase;
}

.actu-list .article .article-photo .article-title {
  bottom: 5px;
  padding: 0 10px;
  font-size: 15px;
}

.actu-list .article .article-photo .article-title.hasSubtitle {
  bottom: 20px !important;
}

.actu-list .shape-img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.actu-list .normal-text {
  position: relative;
  bottom: 4px;
}

.actu-list .little-text {
  display: none;
}

.actu-list .article {
  border-bottom: 1px solid #FFFFFF;
}

.actu-list .article .article-photo {
  position: relative;
}

.actu-list .article .article-photo * {
  box-sizing: border-box;
}

.actu-list .article .article-photo .type {
  position: absolute;
  text-align: center;
  background-color: rgba(255, 201, 0, 0.45);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 54%, 0% 0%);
          clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 54%, 0% 0%);
}

.actu-list .article .article-photo .article-title {
  position: absolute;
  color: white;
  text-transform: uppercase;
}

.actu-list .article .article-photo .article-subtitle {
  position: absolute;
  color: white;
}

.actu-list .event {
  border-bottom: 1px solid #FFFFFF;
}

.actu-list .event .event-photo {
  position: relative;
}

.actu-list .event .event-photo * {
  box-sizing: border-box;
}

.actu-list .event .event-photo .type {
  position: absolute;
  text-align: center;
  background-color: rgba(216, 20, 60, 0.52);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 54%, 0% 0%);
          clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 54%, 0% 0%);
}

.actu-list .event .event-photo .event-title {
  position: absolute;
  color: white;
  text-transform: uppercase;
}

.actu-list .promotion {
  border-bottom: 1px solid #FFFFFF;
}

.actu-list .promotion .promotion-photo {
  position: relative;
}

.actu-list .promotion .promotion-photo * {
  box-sizing: border-box;
}

.actu-list .promotion .promotion-photo .type {
  position: absolute;
  padding-top: 4px;
  text-align: center;
  background-color: rgba(26, 33, 79, 0.58);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 54%, 0% 0%);
          clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 54%, 0% 0%);
}

.actu-list .promotion .promotion-photo .promotion-title {
  position: absolute;
  color: white;
  text-transform: uppercase;
}

.actu-list .promotion .promotion-photo .profile-commerce {
  position: absolute;
  border: 3px solid white;
}

@media (max-width: 500px) {

  .btn-responsive {
    background-color: white;
    padding: 5px 8px;
    font-size: 10px;
    cursor: pointer;
  }

  .megaphone {
    padding-top: 0px;
  }

  .actu-list .promotion-btn {
    left: 15px;
  }
  .line-clamp {
    position: relative;
    height: 2.4em; /* exactly three lines */
  }
  .actu-list .div-store-event-store {
    width: 50%;
    margin-left: 25%;
  }
  .actu-list .btn-actuality {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .actu-list .type {
    top: 0;
    right: 20px;
    width: 40px;
    height: 45px;
    padding-top: 4px;
    font-size: 20px;
  }
  .actu-list .article .article-photo .article-title {
    bottom: 35px;
    padding: 0 10px;
    font-size: 20px;
  }
  .actu-list .article .article-photo .article-title.hasSubtitle {
    bottom: 60px !important;
  }
  .actu-list .article .article-photo .article-subtitle {
    bottom: 10px;
    padding: 0 10px;
    font-size: 15px;
  }
  .actu-list .article .horizontal {
    width: 100%;
    height: 200px;
  }
  .actu-list .article .vertical {
    width: 100%;
    height: 400px;
  }
  .actu-list .event .event-photo .event-title {
    bottom: 5px;
    padding: 0 10px;
    font-size: 15px;
  }
  .actu-list .event .horizontal {
    width: 100%;
    height: 200px;
  }
  .actu-list .event .vertical {
    width: 100%;
    height: 400px;
  }
  .actu-list .promotion .promotion-btn {
    left: 15px;
  }
  .actu-list .promotion .promotion-photo .profile-commerce {
    top: 65px;
    left: 15px;
    width: 100px;
    height: 100px;
  }
  .actu-list .promotion .promotion-photo .promotion-title {
    bottom: 5px;
    padding: 0 10px;
    font-size: 15px;
  }
  .actu-list .promotion .horizontal {
    width: 100%;
    height: 200px;
  }
  .actu-list .promotion .vertical {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 0) and (max-width: 551px) {
  .actu-list .normal-text {
    display: none;
  }
  .actu-list .little-text {
    display: inline-block;
  }
}

@media (min-width: 552px) and (max-width: 768px) {
  .btn-responsive {
    background-color: white;
    padding: 10px 24px;
    font-size: 14px;
    cursor: pointer;
  }

  .megaphone {
    padding-top: 10px;
  }

  .actu-list .normal-text {
    position: relative;
    bottom: 0;
    display: inline-block;
  }
  .line-clamp {
    position: relative;
    height: 2.4em; /* exactly three lines */
  }
  .actu-list .little-text {
    display: none;
  }
  .actu-list .div-store-event-store {
    width: 40%;
    margin-left: 30%;
  }
  .actu-list .btn-responsive-actuality {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
  }
  .actu-list .type {
    top: 0;
    right: 20px;
    width: 60px;
    height: 70px;
    padding-top: 4px;
    font-size: 30px;
  }
  .actu-list .article .article-photo .article-title {
    bottom: 30px;
    padding: 0 15px;
    font-size: 20px;
  }
  .actu-list .article .article-photo .article-title.hasSubtitle {
    bottom: 55px !important;
  }
  .actu-list .article .article-photo .article-subtitle {
    bottom: 0px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 17px;
  }
  .actu-list .article .horizontal {
    width: 100%;
    height: 200px;
  }
  .actu-list .article .vertical {
    width: 100%;
    height: 400px;
  }
  .actu-list .event .event-photo .event-title {
    bottom: 5px;
    padding: 0 15px;
    font-size: 15px;
  }
  .actu-list .event .horizontal {
    width: 100%;
    height: 200px;
  }
  .actu-list .event .vertical {
    width: 100%;
    height: 400px;
  }
  .actu-list .promotion .promotion-btn {
    left: 15px;
  }
  .actu-list .promotion .promotion-photo .profile-commerce {
    top: 65px;
    left: 15px;
    width: 100px;
    height: 100px;
  }
  .actu-list .promotion .promotion-photo .promotion-title {
    bottom: 5px;
    padding: 0 15px;
    font-size: 15px;
  }
  .actu-list .promotion .horizontal {
    width: 100%;
    height: 200px;
  }
  .actu-list .promotion .vertical {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) {
  .line-clamp {
    position: relative;
    height: 3.6em; /* exactly three lines */
  }

  .megaphone {
    padding-top: 10px;
  }

  .btn-responsive {
    background-color: white;
    padding: 10px 24px;
    font-size: 14px;
    cursor: pointer;
  }

  .actu-list .div-store-event-store {
    width: 33%;
    margin-left: 33%;
  }
  .actu-list .type {
    top: 0;
    right: 20px;
    width: 80px;
    height: 90px;
    padding-top: 4px;
    font-size: 35px;
  }
  .actu-list .article {
    border-bottom: 1px solid #FFFFFF;
  }
  .actu-list .article .article-photo .article-title {
    bottom: 15px;
    padding: 0 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .actu-list .article .article-photo .article-title.hasSubtitle {
    bottom: 45px !important;
  }
  .actu-list .article .article-photo .article-subtitle {
    bottom: 15px;
    padding: 0 20px;
    font-size: 15px;
    height: 10px;
  }
  .actu-list .article .horizontal {
    width: 100%;
    height: 350px;
  }
  .actu-list .article .vertical {
    width: 100%;
    height: 400px;
  }
  .actu-list .event .event-photo .event-title {
    bottom: 15px;
    padding: 0 20px;
    font-size: 30px;
    line-height: 30px;
  }
  .actu-list .event .horizontal {
    width: 100%;
    height: 350px;
  }
  .actu-list .event .vertical {
    width: 100%;
    height: 400px;
  }
  .actu-list .promotion .promotion-btn {
    left: 70px;
  }
  .actu-list .promotion .promotion-photo .profile-commerce {
    top: 80px;
    left: 30px;
    width: 200px;
    height: 200px;
  }
  .actu-list .promotion .promotion-photo .promotion-title {
    bottom: 15px;
    padding: 0 30px;
    font-size: 30px;
    line-height: 30px;
  }
  .actu-list .promotion .horizontal {
    width: 100%;
    height: 350px;
  }
  .actu-list .promotion .vertical {
    width: 100%;
    height: 400px;
  }
}